$transition-params: 150ms linear;


$color-xx-light: hsl(210, 30%, 80%);
$color-x-light: hsl(210, 30%, 65%);
$color-dark: hsl(210, 70%, 15%);


$gap-xx-small: .25em;
$gap-x-small: .5em;
$gap-medium: 1em;
$gap-big: 2em;


$header-height: 25vh;
$footer-height: 15vh;
$control-width: 15vw;
